<h1><%= Event.model_name.human(count: 2) %></h1>

<% if @events.empty? %>

    <p>No events found.</p>
<% else %>
<table>
    <thead>
    <tr>
        <th>
            <%= Event.human_attribute_name(:name) %>
        </th>
        <th>
            <%= t '.date_header' %>
        </th>
        <th>
            <%= t 'index_actions' %>
        </th>
    </tr>
    </thead>

    <tbody>
    <% @events.each do |event| %>

    <tr>
        <td>
            <%= link_to event.name, event_path(event) %>
        </td>

        <td>
            <%= l event.start_at, format: :short %>
            -
            <%= l event.end_at, format: :short %>
        </td>
        <td>

            <% if policy(event).edit? %>
                <%= link_to t('.edit'), edit_event_path(event) %><br>
            <% end %>
            <% if policy(event).destroy? %>
                <%= link_to "Delete", event_path(event), {method: :delete, class: 'small', confirm: 'Are you sure?'} %>
            <% end %>
        </td>
    </tr>

    <% end %>
    </tbody>
</table>
<% end %>

<% if policy(Event).new? %>
    <%= link_to t(".new_event"), new_event_path, class: 'small radius button' %>
<% end %>
