<h1>
    <%= @event.name %>
</h1>
<p>
    <%= @event.description %>
</p>

<p>
    <b>Dates:</b>
    <%= l @event.start_at, format: :short %>
    -
    <%= l @event.end_at, format: :short %>
</p>

<h2><%= Comment.model_name.human count: 2 %></h2>

<%= render partial: 'comment_form', locals: {event: @event} %>

<ul id="comments" class="no-bullet">
  <%= render partial: 'comment', collection: @event.comments %>
</ul>