<%= simple_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@project.errors.count, "error") %> no permitio guardar este proyecto:</h4>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel2-1">Datos Básicos</a></li>
  <li class="tab-title "><a href="#panel2-2">Más Información </a></li>
</ul>
<div class="tabs-content vertical">
  <div class="content active" id="panel2-1">
        <div class="row">
          <div class="large-8 columns">
            <%= f.input :name, label: 'Nombre del Proyecto:'%>
          </div>
        </div>

        <div class="row">
          <div class="row large-4 columns">
            <%= f.input :portfolio, priority: [ "2014" ], collection: [ "2010", "2011", "2012", "2013", "2014", "2015"], label: 'Cartera:' %>
          </div>

          <div class="row">
            <div class="large-4 columns">
              <%= f.input :zona, priority: [ "Valle de México" ], collection: [ "Pachuca", "Tula", "Tulancingo", "Valle de México"], label: 'Zona Metropolitana:' %>
            </div>

          <div class="row">
            <div class="large-4 columns">
              <%= f.input :location, label: 'Ubicación:' %>
            </div>
          </div>

      <fieldset>
        <legend>Datos de Contrato</legend>

         <div class="row">
            <div class="large-4 columns">
                <%= f.input :authorization_number, label: 'No. de Autorización:' %>
            </div>
          <div class="row">
            <div class="large-4 columns">
                <%= f.input :contract_number, label: 'No. de Contrato:' %>
            </div>
          </div>
        </div>

        <div class="row">
           <div class="large-4 columns">
              <%= f.input :expected_amount, label: 'Monto Solicitado:' %>
           </div>
        <div class="row">
          <div class="large-4 columns">
            <%= f.input :authorized_amount, label: 'Monto Autorizado:' %>
          </div>
         </div>

          <div class="row large-4 columns">
              <label for="">Fecha inicio:</label>
                <%= f.date_field :start_at  %>
          </div>
        <div class="row">
            <div class="large-4 columns">
              <label for="">Fecha fin:</label>
                <%= f.date_field :end_at %>
            </div>
        </div>
    </div>
    </div>


        <div class="row">
            <div class="large-8 columns">
              <%= f.input :description, label: 'Ingresa descripción:', :input_html => { :cols => 8, :rows => 3 } %>
            </div>
        </div>

        <div class="row">
          <div class="large-8 columns">
              <%= f.input :ejecutor, priority: [ "SEPLADERyM" ], collection: [ "AYUNTAMIENTO", "COFOIN", "DIF", "SALUD", "SEDECO", "SEPLADERyM", "SOPOyT" ], label: 'Instancia Ejecutora' %>
          </div>
        </div>

        <div class="row">
            <div class="large-8 columns">
                <%= f.input :contact, label: 'Persona de contacto:' %>
            </div>
        </div>
      </fieldset>
   </div>
   </div>

      <div class="content" id="panel2-2">



    <fieldset>
      <legend>Datos Complementarios</legend>
      <div class="large-4 columns">
              <%= f.input :goal, label: 'Meta Programada:' %>
          </div>
      <div class="row">
          <div class="large-4 columns">
              <%= f.input :unit, label: 'Unidad de Medida:' %>
          </div>
      </div>

      <div class="large-4 columns">
              <%= f.input :economy, label: 'Economía:' %>
          </div>
      <div class="row">
          <div class="large-4 columns">
              <%= f.input :delay, label: 'Prorroga:' %>
          </div>
      </div>

      <div class="large-4 columns">
              <%= f.input :contract_modified, label: 'No. contrato de modificación:' %>
          </div>
      <div class="row">
          <div class="row large-4 columns">
              <label for="">Acta entrega con fecha:</label>
                <%= f.date_field :acta_entrega  %>
          </div>
      </div>

      <div class="row large-4 columns">
            <%= f.input :physical_advance, label: 'Avance físico:' %>
      </div>
      <div class="row">
        <div class="row large-4 columns">
            <%= f.input :financial_advance, label: 'Avance Financiero' %>
         </div>
      </div>

      <div class="row">
          <div class="large-8 columns">
              <%= f.input :status, as: :text, label: 'Estatus de avance:' %>
          </div>
      </div>

      <div class="row">
          <div class="large-8 columns">
              <%= f.input :observations, as: :text, label: 'Observaciones' %>
          </div>
      </div>

      <%# <div class="row">%>
          <%#<div class="large-4 columns">%>
              <%# <%= f.input :image_url >%>
          <%#</div>%>
      <%#</div>%>
    </fieldset>

  </div>
   <%= f.submit t('.save'), class: 'round button' %>
</div>
<% end %>
