<h1><%= Project.model_name.human(count: 2) %></h1>

<% if @projects.empty? %>

    <p>No projects found.</p>
<% else %>
<table>
    <thead>
    <tr>
        <th>
            <%= Project.human_attribute_name(:name) %>
        </th>
        <th>
            <%= t 'location' %>
        </th>
        <th>
            <%= t 'authorized_amount' %>
        </th>
        <th>
          <%= t 'executor' %>
        </th>

        <th>
            <%= t '.date_header' %>
        </th>
        <th>
            <%= t 'index_actions' %>
        </th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>

    <tr>
        <td>
            <%= link_to project.name, project_path(project) %>
        </td>

        <td>
            <%= project.location %>
        </td>

        <td>
            <%= project.authorized_amount %>
        </td>

        <td>
            <%= project.executor %>
        </td>

        <td>
            <%= l project.start_at, format: :short %>
            -
            <%= l project.end_at, format: :short %>
        </td>

        <td>

            <% if policy(project).edit? %>
                <%= link_to t('.edit'), edit_project_path(project) %><br>
            <% end %>
            <% if policy(project).destroy? %>
                <%= link_to "Delete", project_path(project), {method: :delete, class: 'small', confirm: 'Are you sure?'} %>
            <% end %>
        </td>
    </tr>

    <% end %>
    </tbody>
</table>
<% end %>

<% if policy(Project).new? %>
    <%= link_to t(".new_project"), new_project_path, class: 'small radius button' %>
<% end %>
