<div class="large-12 columns">
  <h1 class="small-3"><%= Project.model_name.human(count: 2) %></h1>
  <ul class="left">
    </li>
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Ingresa Búsqueda">
        </div>
        <div class="large-4 small-3 columns">
          <a href="#" class="button small">Buscar</a>
        </div>
      </div>
    </li>
  </ul>
</div>




<% if @projects.empty? %>

    <p>No se encontraron proyectos.</p>
<% else %>
<table>
    <thead>
    <tr>
<!--         <th class="small-1">
            <%= t 'Image' %>
        </th> -->

        <th class="small-1">
            <%= t 'Cartera' %>
        </th>
        <th class="small-2">
            <%= t 'Nombre' %>
        </th>
        <th class="small-1">
            <%= t 'Monto Autorizado' %>
        </th>
        <th class="small-2">
            <%= t 'Zona Metropolitana' %>
        </th>

        <th class="small-2 ">
            <%= t 'Estatus' %>
        </th>
        <th class="small-2">
            <%= t 'Enlace' %>
        </th>
        <th class="small-1">
            <%= t 'Acciones' %>
        </th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>

    <tr>
        <%# <td>%>
           <%#<%= image_tag (project.image_url) >
           <%#</td>%>
        <td>
            <%= link_to project.portfolio, project_path(project) %>
        </td>

        <td>
            <%= link_to project.name, project_path(project) %>
        </td>

        <td>
            <%= number_to_currency(project.authorized_amount) %>
        </td>

        <td>
            <%= project.zona %>
        </td>

        <td>
            <%= project.status %>
        </td>

        <td>
            <%= project.contact %>
        </td>

        <td>
            <% if policy(project).edit? %>
                <%= link_to t('.edit'), edit_project_path(project) %><br>
            <% end %>
            <% if policy(project).destroy? %>
                <%= link_to "Delete", project_path(project), {method: :delete, class: 'small', confirm: 'Are you sure?'} %>
            <% end %>
        </td>
    </tr>

    <% end %>
    </tbody>
</table>
<% end %>

<% if policy(Project).new? %>
    <%= link_to t(".new_project"), new_project_path, class: 'small radius button' %>
<% end %>
