<h1>
    <%= @project.name %>
</h1>
<p class="th">
    <%= image_tag(@project.image_url) %>
</p>

<p>
    <b>Numero de Autorización: </b>
    <%= @project.authorization_number %>
</p>

<p>
    <b>Cartera: </b>
    <%= @project.portfolio %>
</p>

<p>
    <b>Zona Metropolitana: </b>
    <%= @project.zona %>
</p>

<p>
    <b>Ubicación:</b>
    <%= @project.location %>
</p>

<p>
    <b>Monto Autorizado: </b>
    <%= number_to_currency(@project.expected_amount) %>
</p>

<p>
    <b>Monto Contratado: </b>
    <%= number_to_currency(@project.authorized_amount) %>
</p>

<p>
    <b>Economía: </b>
    <%= number_to_currency(@project.economy) %>
</p>

<p>
    <b>Empresa: </b>
    <%= @project.company %>
</p>


<p>
    <b>Calendario de Ejecución: </b>
    <%= @project.start_at.strftime("%d-%m-%Y") %> - <%= @project.end_at.strftime("%d-%m-%Y") %>
</p>

<p>
    <b>Enlace: </b>
    <%= @project.contact %>
</p>

<p>
    <b>Descripción: </b>
    <%= @project.description %>
</p>

<h2><%= Comment.model_name.human count: 2 %></h2>

<%= render partial: 'comment_form', locals: {project: @project} %>

<ul id="comments" class="no-bullet">
  <%= render partial: 'comment', collection: @project.comments %>
</ul>
