<h1>
    <%= @project.name %>
</h1>
<p class="th">
    <%= image_tag(@project.image_url) %>
</p>
<p>
    <b>Descripci贸n: </b>
    <%= @project.description %>
</p>

<p>
    <b>Numero de Autorizaci贸n: </b>
    <%= @project.authorization_number %>
</p>

<p>
    <b>Ubicaci贸n:</b>
    <%= @project.location %>
</p>

<p>
    <b>Monto Autorizado: </b>
    <%= @project.expected_amount %>
</p>

<p>
    <b>Monto Contratado: </b>
    <%= @project.authorized_amount %>
</p>

<p>
    <b>Empresa: </b>
    <%= @project.company %>
</p>

<p>
    <b>Ejecutor: </b>
    <%= @project.executor %>
</p>

<p>
    <b>Calendario de Ejecuci贸n: </b>
    <%= l @project.start_at, format: :long %>
    -
    <%= l @project.end_at, format: :long %>
</p>

<p>
    <b>Enlace: </b>
    <%= @project.contact %>
</p>

<h2><%= Comment.model_name.human count: 2 %></h2>

<%= render partial: 'comment_form', locals: {project: @project} %>

<ul id="comments" class="no-bullet">
  <%= render partial: 'comment', collection: @project.comments %>
</ul>
