<h1>
    <%= @project.name %>
</h1>
<p class="th">
    <%= image_tag(@project.image_url) %>
</p>
<p>
    <%= @project.description %>
</p>

<p>
    <b>Authorization Number:</b>
    <%= @project.authorization_number %>
</p>

<p>
    <b>Location:</b>
    <%= @project.location %>
</p>

<p>
    <b>Authorized Amount:</b>
    <%= @project.authorized_amount %>
</p>

<p>
    <b>executor:</b>
    <%= @project.executor %>
</p>

<p>
    <b>Dates:</b>
    <%= l @project.start_at, format: :short %>
    -
    <%= l @project.end_at, format: :short %>
</p>

<h2><%= Comment.model_name.human count: 2 %></h2>

<%= render partial: 'comment_form', locals: {project: @project} %>

<ul id="comments" class="no-bullet">
  <%= render partial: 'comment', collection: @project.comments %>
</ul>
