<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1>
                <%= link_to "Iron Events", root_path %>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="<%= current_page?(events_path) ? "active" : "" %>">
                <%= link_to Event.model_name.human(count: 2), events_path %>
            </li>
            <li class="divider"></li>
        </ul>
    </section>
    <section class="top-bar-section">
        <ul class="right">
            <li class="divider"></li>
            <% if current_user %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
        </ul>
    </section>
</nav>