<div class="contain-to-grid sticky">    
    <nav class="top-bar" data-topbar data-options="is_hover: false">
      
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "", root_path %></a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Opciones</a>
            <ul class="dropdown">
                    <li><%= link_to Project.model_name.human(count: 2), projects_path %></li>
                    <li><%= link_to Project.model_name.human(count: 2), projects_path %></li>
                    <li><%= link_to Project.model_name.human(count: 2), projects_path %></li>
            </ul>
          </li>
        </ul>

      <section class="top-bar-section">
        <ul class="left">
            <li class="has-form">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <input type="text" placeholder="Ingresa Búsqueda">
                </div>
                <div class="large-4 small-3 columns">
                  <a href="#" class="alert button expand">Buscar</a>
                </div>
              </div>
            </li>
        </ul>


        <ul class="right">
            <li class="divider"></li>
            <% if current_user %>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
            <% end %>
        </ul>
      </div>
    </nav>
</div>