<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Project Tracing" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render partial: 'top_bar' %>

    <% if flash[:alert] %>
      <div class="alert-box radius" data-alert>
          <%= flash[:alert] %>
          <a class="close" href>x</a>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert-box success radius" data-alert>
          <%= flash[:notice] %>
          <a class="close" href>x</a>
      </div>
    <% end %>

    <div class="content row">
        <div class="large-12 columns right">
            <%= yield %>
        </div>

    <%= javascript_include_tag "application" %>
  <script src="js/vendor/jquery.js"></script>
  </body>
</html>
